<% include ../layouts/header.ejs %>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<h1><%= title %></h1>
<button id="test-button" class="btn btn-danger">Test Button</button>  
<div class="container top">
    <div class="left-block">
         <ul id="user-list"></ul> 
    </div>
    <div class="right-block">
        <div class="logger">
            <ul class="log"></ul>
        </div>
        <div class="player-panel">
            <div class="game-stage"></div>
            <div class="active-cards"></div>
        </div>
    </div>
</div>
<div class="container bottom">
    <div class="left-block">
        <div class="moment moment-0 active">
            <button id="vote-start" class="btn btn-danger">Vote to Start</button>            
        </div>
        <div class="moment moment-1">
            <button id="turn-decider" class="btn btn-danger">Roll the Dice</button>            
        </div>
        <div class="moment moment-2">
            <button id="open-door" class="btn btn-danger">Open Door</button>
            <button id="check-door-discard" class="btn btn-danger">Check Door Discards</button>
        </div>
        <div class="moment moment-3">
            <button id="look-for-trouble" class="btn btn-danger">Look For Trouble</button>
            <button id="get-treasures" class="btn btn-danger">Get Tresure(s)</button>
        </div>
        <div class="moment moment-4">
            <button id="end-turn" class="btn btn-danger">End Turn</button>
        </div>
    </div>
    <div class="right-block">
        
    </div>
</div>

<script>
  var socket = io();
  var myUsername;
  socket.on("joinGame", function(currentGame){
      if(currentGame.hasStarted){
          $(".moment-0").toggleClass("active");
          $(".moment-" + currentGame.gameMoment).toggleClass("active");
      }
    var myUser = {username: "<%= user.username %>", id:"<%= user._id %>", gender: "<%= user.gender %>", firstRoll: "0" }
    myUsername = myUser.username;
    socket.emit("sendUser", myUser);
  });
  socket.on("addedPlayersList", function(userList){
      $("#user-list").empty();
      userList.forEach(function(user){
         $("#user-list").append("<li id='" + user.username + "'>" + user.username + "<span class='gender'>"+ user.gender.slice(0,1) +"</span><span class='level'>1</span></li>"); 
      });
  });
  socket.on("removedPlayersList", function(player){
      $("#" + player).remove();
  });
  socket.on("log", function(msg){
     $(".log").append("<li>" + msg + "</li>") 
  });
  socket.on("successVote", function(data){
    if(myUsername === data.username){
        socket.emit("logFromClient", "<%= user.username %> voted to start...");
        $("#vote-start").attr('disabled','disabled').text("Voted");
    }
    if(data.shouldStart){
        socket.emit("logFromClient", "Game Started!!");
        socket.emit("gameStarted");
        $(".moment-0").toggleClass("active");
        $(".moment-1").toggleClass("active");  
    }
  });
  socket.on("successRoll", function(data){
      var thisUser;
      data.playersOrder.forEach(function(user){
          if(user.username === myUsername){
              thisUser = user;
          }
      });
      console.log(thisUser);
     if(myUsername === thisUser.username){
         socket.emit("logFromClient", "<%= user.username %> rolled and got a " +  thisUser.rollValue);
        $("#turn-decider").attr('disabled','disabled').text("Rolled");
     } 
  });
  
  $("#open-door").click(function(){
      socket.emit("logFromClient", "<%= user.username %> opened a door...");
  });
  $("#get-treasure").click(function(){
      socket.emit("logFromClient", "<%= user.username %> got a treasure...");
  });
  $("#vote-start").click(function(){
      socket.emit("voteToStart", "<%= user.username %>")
  });
  $("#turn-decider").click(function(){
      socket.emit("firstRoll", "<%= user.username %>");
  });
  $("#test-button").click(function(){
      socket.emit("testButton");
  })
</script>

<% include ../layouts/footer.ejs %>
